.service-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-item--title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 7px;
}

.service-item--text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}