.card {
    width: calc((100% - 60px) / 3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

.card--img {
    width: 100%;
    display: flex;
}

.card--img img {
    width: 100%;
}

.card:hover .card--title {
    color: rgb(37, 110, 235);
}

.card--title {
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: rgb(10, 20, 58);
}

.card--price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: rgb(10, 20, 58);
}

.card--desc-box {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.card--desc {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(196, 196, 196);
}

@media (max-width: 1200px) {
    .card {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}