* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 12px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  font-weight: 400px;
  line-height: 16px;
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: rgb(10, 20, 58);
}

.btn-outline {
  background-color: transparent;
}

.btn-primary {
  background-color: rgb(37, 110, 235);
  color: rgb(255, 255, 255);
}

.btn-large {
  padding: 19px 72px;
}

.search {
  margin-bottom: 42px;
}

.search-box {
  width: 100%;
  background-color: rgb(37, 110, 235);
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-box input {
  border: none;
  border-radius: 5px;
  padding: 14px 22px;
  outline: none;
  flex-grow: 1;
  min-width: 0;
}

.search-btn {
  display: flex;
  align-items: center;
}

.search-btn .search-btn__icon {
  width: 15px;
  height: 15px;
}

.search-btn .search-btn__text {
  padding-left: 2px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.content {
  padding-bottom: 70px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.content-main {
  flex-grow: 1;
}

.content-main__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

.content-main__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.content-side {
  width: 260px;
  min-width: 260px;
}

.content-side__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 23px;
  color: rgb(10, 20, 58);
}

.content-side__box {
  box-sizing: border-box;
  /* padding-right: 30px; */
}

.content-side__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  row-gap: 25px;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 36px;
  margin-bottom: 36px;
}

.content-side__footer {
  display: flex;
  flex-direction: column; 
  gap: 4px;
}

.content-side__footer-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  color: rgb(196, 196, 196);
}

.content-product {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.content-product__left {
  flex-basis: 50%;
}

.content-product__right {
  flex-basis: 50%;
}

.content-product__title,
.content-product__price {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  color: rgb(10, 20, 58);
}

.content-product__img {
  width: 100%;
}

.content-product__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .container {
      width: 930px;
  }
}

@media (max-width: 991px) {
  .container {
      width: 730px;
  }

  .content-box {
      flex-direction: column;
  }

  .content-main {
      width: 100%;
  }

  .content-side {
      width: 100%;
      min-width: none;
  }

  .content-product {
      flex-direction: column;
      width: 100%;
  }
  
  .content-product__left {
      flex-basis: 100%;
      width: 100%;
  }
  
  .content-product__right {
      flex-basis: 100%;
      width: 100%;
  }
}

@media (max-width: 786px) {
  .container {
      width: 100%;
  }
}